body{
    background-color: rgb(0, 255, 221);
}
ul{
    display: inline-block;
    padding-right: 100px;
    list-style-type: none;
}

li{
    display: inline-block;
}

li a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(28, 3, 247);
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

li a:hover{
    background-color: rgba(131, 238, 238, 0.979);
}

li a:active{
    background-color: rgb(211, 61, 216);
}
.vee{
    color: rgb(221, 4, 4);
    text-align: center;
}
.tae{
    color: rgb(65, 19, 19);
    text-align: center;
}
p{
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
a{
    font-size: 40px;
    text-align: center;
}